.pure-button{
	height: 29px;
	font-size: 10pt;
	border-radius: 3px;
}
.subsection{
	background-color: #FFFAFA;
	padding: 15px;
	width: 400px;
	border-radius: 3px;
}
.create{
	position: relative;
	width: 215px;
	padding: 0.6em 0 0.6em 0.6em
}

.create input{
	width: 100%;
	padding-bottom: 10px;
}

input[type="submit"]{
	background-color: #003E74;
}

.create label{
	font-size: 12pt;
	color: #FFF;
	padding-bottom: 10px;
}

.left-right{
	position: fixed;
	left: 150px;
	top: 0px;
	background-color: rgb(25, 24, 24);
	height: 100%;
	width: 250px;
}

.left-wall{
	padding: none;
}

.banner{
	background-color: #843549;
	color: white;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 2;
	text-align: center;
	font-size: 18pt;
	height: 65px;
	vertical-align: middle;
}

.banner span{
	line-height: 65px;
	text-transform: lowercase;

}

.pure-form fieldset input[type="text"], .pure-form fieldset textarea{
	-webkit-transition: all 0.10s ease-in-out;
  	-moz-transition: all 0.10s ease-in-out;
  	-ms-transition: all 0.10s ease-in-out;
  	-o-transition: all 0.10s ease-in-out;
}

.create .pure-form fieldset input[type="submit"]{
	background-color: #843549;
}

.create .pure-form fieldset input[type="text"], .create .pure-form fieldset textarea{
	background-color: #ccc;
}

.create .pure-form fieldset input[type="text"]:focus, .create .pure-form fieldset textarea:focus{
	background-color: #fff;
}
.pure-form fieldset input[type="text"]:focus, .pure-form fieldset textarea:focus{
	border-color: #827570;
}
